.dynamic-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
  width: 100%;
  height: 100%;

  #text-target {
    display: flex;
    width: 300px;
    text-align: left;
    animation: color 0.5s alternate infinite;
    perspective: 200px;
    transform: translateX(26px);
  }
}

@keyframes wordEntry {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes color {
  0% {
    color: rgb(251, 255, 0);
  }
  33% {
    color: #08ec00;
  }
  66% {
    color: rgb(251, 255, 0);
  }
  100% {
    color: #08ec00;
  }
}

.word {
  animation: wordEntry 0.5s ease-out forwards;
}
