* {
  margin: 0;
  padding: 0;
}

:root {
  --button-color: #34e28b;
  --style-color: #fa0061;
  --background-color: #010101;
  --text-color: #99999c;
  --title-color: #e4dcdc;
  --hoover-color: #0ab35f;
  --popup-background: #111111;
  --popup-text-color: #e4dcdc;
  --text-button: #010101;
}

/* Styles spécifiques à la page OurCanvases */
.neon-wrapper {
  text-align: center;
  color: var(--text-color);
}

.neon-text {
  border-right: 2px solid var(--button-color);
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(40, end) forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--button-color);
  }
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}

.product-image img {
  width: 210%;
  height: 400px;
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
  margin-top: 70px;
  border: 4px solid white;
}

.product-details {
  margin-left: 20px;
}

.description h4 {
  margin-bottom: 20px;
  max-width: 50%;
  text-align: center;
}

.description p {
  margin-bottom: 30px;
  font-size: 18px;
  max-width: 50%;
  color: var(--text-color);
  text-align: center;
}

.buy-button {
  background-color: var(--button-color);
  color: var(--text-button);
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px 5px 5px 5px;
}

.buy-button:hover {
  background-color: var(--hoover-color);
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .product-details {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

.content {
  display: flex;
  margin: 30px auto;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.title {
  margin: 30px auto;
  color: var(--text-color);
}
