/* Style global de la page produit */
.product-images-wrapper {
  border: 2px solid #ddd; /* Bordure autour de toutes les images */
  padding: 200px; /* Espacement à l'intérieur du cadre */
  height: 550px;
  border-radius: 8px; /* Coins arrondis pour une meilleure esthétique */
  margin-top: 200px;
  margin-bottom: 100px; /* Espacement en bas du cadre */
}

/* Section des images du produit */
.product-images {
  flex: 1;
}

.main-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Assure une bonne dimension des images sans distorsion */
  max-height: 500px; /* Limite la hauteur de l'image principale */
}

.thumbnails {
  display: flex;
  gap: 10px;
  justify-content: center; /* Centrer les vignettes */
  margin-top: 15px;
}

.thumbnails img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease; /* Animation de transition pour un meilleur effet au survol */
}

.thumbnails img:hover {
  border-color: #333; /* Couleur de bordure au survol */
}

/* Section des détails du produit */
.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-title {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 24px;
  color: #ddd;
  margin: 10px 0;
  margin-bottom: 15px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5; /* Améliore la lisibilité */
}

/* Options de couleurs */
.product-colors {
  margin-bottom: 20px;
}

.product-colors P {
  margin-bottom: 15px;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color-swatch {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.color-swatch.active {
  border-color: #000;
}

/* Options de taille */
.product-sizes {
  margin-bottom: 20px;
}

.size-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.size-button {
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: #fff; /* Couleur de fond par défaut */
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.size-button:hover {
  background-color: #f0f0f0; /* Couleur au survol */
}

.size-button.active {
  border-color: #000;
  background-color: #f8f8f8;
}

.size-recommendation {
  margin-top: 20px;
  font-size: 14px;
  color: #888;
}

/* Boutons d'action */
.add-to-cart {
  background: linear-gradient(
    90deg,
    #34e28b,
    #ff8c00,
    #6c757d
  ); /* Dégradé du gris à l'orange puis au vert */
  color: white; /* Couleur du texte */
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background 0.3s ease, transform 0.3s ease; /* Transition fluide pour l'arrière-plan et effet au survol */
}

.add-to-cart:hover {
  background: linear-gradient(
    90deg,
    #6c757d,
    #ff8c00,
    #34e28b
  ); /* Dégradé inversé au survol */
  transform: scale(1.05); /* Agrandissement léger au survol */
}

.crypto-button {
  background: linear-gradient(
    90deg,
    #6c757d,
    #ff8c00,
    #34e28b
  ); /* Dégradé du vert à l'orange puis au gris */
  color: white; /* Couleur du texte */
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 300px;
  transition: background 0.3s ease, transform 0.3s ease; /* Transition fluide pour l'arrière-plan et l'effet de survol */
}

.crypto-button:hover {
  background: linear-gradient(
    90deg,
    #34e28b,
    #ff8c00,
    #6c757d
  ); /* Dégradé inversé au survol */
  transform: scale(1.05); /* Agrandissement léger au survol */
}
