.OurCanvasesMain {
  padding: 20px;
  background-color: #111111;
}

.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.carousel-container {
  width: 100%;
  margin-bottom: 20px;
}

.slick-slider {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.slick-slide img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details {
  text-align: center;
}

.product-details h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.product-details p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.product-details ul {
  list-style-type: none;
  padding: 0;
}

.product-details ul li {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 10px;
}

.product-details ul li::before {
  content: "✔";
  color: #34e28b;
  margin-right: 10px;
}
