* {
  margin: 0;
  padding: 0;
}

:root {
  --button-color: #34e28b; /* Couleur principale */
  --style-color: #fa0061; /* Couleur secondaire */
  --background-Head-Foot: #111111; /* Couleur de fond */
  --background-color: #010101;
  --text-color: #99999c; /* Couleur du texte */
  --title-color: #e4dcdc;
  --hoover-color: #0ab35f;
  --popup-background: #ffffff; /* Fond de la pop-up */
  --popup-text-color: #000000; /* Texte de la pop-up */
  --text-button: #010101;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h2,
h5,
h6 {
  margin-bottom: 30px;
  color: var(--title-color);
}

h1 {
  margin-bottom: 100px;
}

/* Styles pour le contenu principal (main) */
.mainHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  margin: 100px auto;
}

.mainHome p {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--title-color);
  text-align: center;
}

.section {
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transform: translateY(20px);
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.content {
  text-align: center;
  margin: 20px;
}

.caseImg {
  margin: 20px 0;
}
