footer {
  position: fixed;
  font-size: 15px;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: var(--background-Head-Foot);
  padding: 5px;
  margin: 0;
  box-shadow: 10px 20px 40px var(--button-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerdiv {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
}

.footerdiv h3 {
  margin: 10px 0;
  color: #e4dcdc;
}

.footerdiv form {
  display: flex; /* Aligner les enfants du formulaire en ligne */
  justify-content: center; /* Centrer le formulaire horizontalement */
  align-items: center; /* Centrer le formulaire verticalement */
  margin: 0;
}

.footerdiv p {
  color: var(--text-color);
}

.FooterLinks {
  margin-left: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 33%;
  color: var(--title-color);
}

.FooterLinks h3 {
  margin: 5px 0;
}

.FooterLinks img {
  background-color: #00000000;
  margin: 2.5px;
  padding: 0;
  width: 20px;
  height: 20px;
}

.FooterLinks p {
  color: var(--text-color);
}

.emailing {
  display: flex; /* Aligner les enfants du formulaire en ligne */
  justify-content: center; /* Centrer le formulaire horizontalement */
  align-items: start;
}

.emailing h4 {
  background-color: #333333;
}

.NewsletterBlock h4 {
  color: var(--text-color);
  background-color: var(--button-color);
}

.emailing button {
  height: 37px; /* Ensuring the button has the same height as the input */
  padding: 0 15px; /* Adjusting padding to match the design and text length */
  background-color: #333333; /* Example button color */
  color: #34e28b;
  border: 1px solid #34e28b; /* Removing any default border */
  border-left: none;
  cursor: pointer; /* To indicate the button is clickable */
  font-size: 16px; /* Matching the font size with the input */
  margin: 0; /* Ensuring there are no additional margins */
  border-radius: 0 5px 5px 0;
}

#emailInput {
  padding: 0;
  margin: 0;
  background-color: #333333;
  border-radius: 5px 0 0 5px;
  border-right: none;
  height: 35px;
}

input::placeholder {
  color: #99999c;
  padding-left: 13px;
}

/* .allRights {
} */
