footer {
  position: fixed;
  font-size: 15px;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: var(--background-Head-Foot);
  padding: 5px;
  margin: 0;
  box-shadow: 10px 20px 40px var(--button-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerdiv {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerdiv form {
  display: flex; /* Aligner les enfants du formulaire en ligne */
  justify-content: center; /* Centrer le formulaire horizontalement */
  align-items: center; /* Centrer le formulaire verticalement */
  margin: 0;
}

.footerdiv p {
  color: var(--text-color);
}

.FooterLinks {
  margin-left: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 33%;
  color: var(--text-color);
}

.FooterLinks img {
  background-color: #00000000;
  margin: 2.5px;
  padding: 0;
  width: 20px;
  height: 20px;
}

.FooterLinks p {
  color: var(--text-color);
}

.emailing {
  display: flex; /* Aligner les enfants du formulaire en ligne */
  justify-content: center; /* Centrer le formulaire horizontalement */
  align-items: center;
}

.emailing h4 {
  background-color: var(--button-color);
}

.NewsletterBlock h4 {
  color: var(--text-color);
  background-color: var(--button-color);
}

.emailing button {
  height: 40px; /* Ensuring the button has the same height as the input */
  padding: 0 15px; /* Adjusting padding to match the design and text length */
  background-color: #34e28b; /* Example button color */
  color: #010101;
  border: none; /* Removing any default border */
  cursor: pointer; /* To indicate the button is clickable */
  font-size: 16px; /* Matching the font size with the input */
  margin: 0; /* Ensuring there are no additional margins */
}

.emailing form {
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.emailInput {
  padding: 0;
  margin: 0;
}

.allRights {
}
