* {
  margin: 0;
  padding: 0;
}

:root {
  --button-color: #34e28b;
  --style-color: #fa0061;
  --background-color: #010101;
  --text-color: #99999c;
  --hoover-color: #0ab35f;
  --text-button: #010101;
  --title-color: #e4dcdc;
}

/* Styles spécifiques à la page FAQ */
.faq {
  padding: 20px;
}

.faq-section {
  margin: 0;
  padding: 0;
}

.faq-article {
  margin-bottom: 10px;
}

.faq-question {
  cursor: pointer;
  color: #34e28b;
  background-color: #333333;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.faq-answer {
  display: none;
  padding: 10px;
  background-color: var(--background-Head-Foot);
  border-radius: 5px;
}

.faq-answer.active {
  display: block;
  width: 100%;
  color: #010101;
  background-color: #0ab35f;
  border-radius: 5px;
  border: 2px #34e28b;
}
